.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    padding: 70px;
    background-color:blanchedalmond; 
    
}
.maincontainer
{
    display: flex;
    flex-direction: row;
    justify-self: auto;
    justify-content: space-around; 
    
       
}